* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("assets/ProximaNova-Regular.eot");
  src: url("assets/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("assets/ProximaNova-Regular.woff2") format("woff2"), url("assets/ProximaNova-Regular.woff") format("woff"), url("assets/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("assets/FuturaBookC.eot");
  src: url("assets/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaBookC.woff2") format("woff2"), url("assets/FuturaBookC.woff") format("woff"), url("assets/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url("assets/FuturaDemiC.eot");
  src: url("assets/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaDemiC.woff2") format("woff2"), url("assets/FuturaDemiC.woff") format("woff"), url("assets/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url("assets/FuturaMediumC.eot");
  src: url("assets/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaMediumC.woff2") format("woff2"), url("assets/FuturaMediumC.woff") format("woff"), url("assets/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url("assets/YesevaOne.eot");
  src: url("assets/YesevaOne.eot?#iefix") format("embedded-opentype"), url("assets/YesevaOne.woff2") format("woff2"), url("assets/YesevaOne.woff") format("woff"), url("assets/YesevaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.subtitle_white,
.subtitle_black {
  font-family: Yeseva One, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.subtitle_black {
  color: #000000;
}

.subtitle_icon {
  position: relative;
  margin: 15px auto 30px auto;
  width: 200px;
  height: 29px;
}

.subtitle_icon:before {
  display: block;
  position: absolute;
  content: "";
  font-size: 2px;
  background-color: #E3B873;
  width: 30px;
  height: 1px;
  top: 14px;
  right: 128px;
}

.subtitle_icon:after {
  display: block;
  position: absolute;
  content: "";
  font-size: 2px;
  background-color: #E3B873;
  width: 30px;
  height: 1px;
  top: 14px;
  left: 125px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  width: 100%;
  height: 800px;
}

.header_social {
  width: 6%;
}

.header_social--text {
  position: relative;
  top: 44%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header_social--text-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: FuturaDemiC, sans-serif;
  color: #E3B873;
  font-size: 14px;
}

.header_social--text:after {
  display: block;
  position: absolute;
  content: "";
  font-size: 2px;
  background-color: #E3B873;
  width: 50px;
  height: 1px;
  top: 9px;
  left: 90px;
}

.header_wrapper {
  width: 94%;
}

.header_banner {
  height: 700px;
  background: red;
  background: url(assets/banner.jpg);
}

.header_banner--main_heding {
  position: relative;
  top: 50%;
  font-family: Yeseva One, sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 132.8%;
  text-transform: uppercase;
  color: #ffffff;
  width: 550px;
}

.header_banner--main_heding-orange {
  color: #E3B873;
}

.header_banner--main_description {
  font-family: FuturaBookC, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  width: 450px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 45px;
}

.header_banner--cta {
  width: 207px;
  height: 51px;
  background-color: #E3B873;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

.header_banner--cta:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.header_banner--cta2 {
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  margin-left: 20px;
  cursor: pointer;
}

.banner_text {
  position: relative;
  top: 27%;
  left: 4%;
}

.scroll_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 247px;
  height: 97px;
  bottom: 0px;
  background-color: #000000;
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.scroll_down p {
  padding-right: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  height: 83px;
  margin: auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
}

.navigation_menu--logo h1 {
  line-height: normal;
  margin: 0;
  font-size: 14px;
}

.navigation_menu--logo a {
  font-family: FuturaDemiC, sans-serif;
  color: #E3B873;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B873;
  margin-right: 40px;
}

.navigation_menu--links a {
  color: #ffffff;
  font-family: FuturaBookC, sans-serif;
  line-height: 16px;
  text-decoration: none;
}

.navigation_menu--links a:hover {
  text-decoration: underline;
}

.navigation_menu--telefon a {
  color: #E3B873;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.navigation_menu--button {
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  margin-right: 100px;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
}

.navigation_menu--button:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
}

.slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

.slider_description_wrapper {
  width: 40%;
  height: 600px;
  background: #000000;
}

.slider_description {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 0 auto;
}

.slider_description--heading {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  width: 100px;
  margin: 38px 0px 20px 0px;
}

.slider_description--heading:after {
  display: block;
  position: absolute;
  content: "";
  font-size: 2px;
  background-color: #E3B873;
  width: 91px;
  height: 1px;
  top: 56px;
  left: 155px;
}

.slider_description--text {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 415px;
}

.slider_description--subcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.slider_description--subcaption li {
  margin-top: 30px;
  width: 200px;
}

.slider_description--subcaption-header {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.slider_description--subcaption-text {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.slider_description--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.slider_description--navigation-arrow_left {
  width: 42px;
  height: 14px;
  margin-top: 4px;
}

.slider_description--navigation-activ_point {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider_description--navigation-point {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider_description--navigation-arrow_right {
  width: 42px;
  height: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 4px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 600px;
}

.slider--next {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #E3B873;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px #E3B873;
  box-shadow: 0 0 5px 1px #E3B873;
  top: 42%;
  right: 50px;
}

.slider--next:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider--next-arrow {
  position: absolute;
  width: 11px;
  height: 19px;
  left: 43%;
  top: 35%;
}

.slider_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.slider_navigation--links {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 60px;
}

.slider_navigation--links-active {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 1px solid #E3B873;
  margin-right: 60px;
}

.slider_navigation--links-active a {
  color: #E3B873;
  text-decoration: none;
}

.slider_navigation--links a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.slider_container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 482px;
}

.slider_container--item {
  margin: 5px;
  width: 689px;
  height: 482px;
  background: url(assets/slider_img1.jpg) no-repeat;
}

.slider_container--item-hide {
  width: 689px;
  height: 482px;
  margin: 5px;
  background: url(assets/slider_img2.jpg) no-repeat;
  background-position: top right 130px;
}

.slider_subcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video_wrapper {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), color-stop(50%, #ffffff));
  background: linear-gradient(to bottom, #000000 50%, #ffffff 50%);
}

.video_icon {
  background: url(assets/video_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.video_container {
  position: relative;
  width: 57%;
  background: gray;
  margin: 0 auto;
  border: 1px solid black;
}

.video_container:after {
  display: block;
  position: absolute;
  content: "";
  font-size: 2px;
  background-color: #E3B873;
  width: 30px;
  height: 1px;
  bottom: -32px;
  left: 50%;
}

.video_container--play {
  display: block;
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #E3B873;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px #E3B873;
  box-shadow: 0 0 5px 1px #E3B873;
  top: 42%;
  left: 45%;
}

.video_container--play:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.video_container--play-arrow {
  position: absolute;
  width: 21px;
  height: 26px;
  left: 42%;
  top: 36%;
}

.video {
  width: 100%;
  height: 100%;
}

.video_description {
  margin: 50px;
  width: 52%;
  margin: 50px auto;
  text-align: center;
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

.form_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 20px auto;
}

.form_submit_block {
  display: block;
  text-align: left;
  width: 235px;
  color: rgba(54, 54, 54, 0.5);
}

.form_submit_block--label {
  display: block;
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.form_submit_block--input {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  height: 30px;
  color: #363636;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.form_submit_block--input::-webkit-input-placeholder {
  color: #363636;
}

.form_submit_block--input:-ms-input-placeholder {
  color: #363636;
}

.form_submit_block--input::-ms-input-placeholder {
  color: #363636;
}

.form_submit_block--input::placeholder {
  color: #363636;
}

.form_submit_block--input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form_submit_block--input:focus:-moz-placeholder {
  color: transparent;
}

.form_submit_block--input:focus::-moz-placeholder {
  color: transparent;
}

.form_submit_block--input:focus:-ms-input-placeholder {
  color: transparent;
}

.form_submit_block--button {
  width: 200px;
  height: 51px;
  background-color: #E3B873;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.form_submit_checkbox {
  margin: 0 auto;
  width: 30%;
  color: #181818;
}

.control {
  font-family: FuturaBookC, sans-serif;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #e3b873;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #e3b873;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.price_container {
  position: relative;
  margin-top: 140px;
}

.repair_icon {
  background: url(assets/repair_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.price_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.price_card {
  position: relative;
  background: url(assets/product1.jpg) no-repeat;
  margin: 10px;
  width: 392px;
  height: 608px;
}

.price_card:nth-child(2) {
  background: url(assets/product2.jpg) no-repeat;
}

.price_card:last-child {
  background: url(assets/product3.jpg) no-repeat;
}

.price_card--button {
  position: absolute;
  width: 228px;
  height: 54px;
  background-color: #E3B873;
  margin-top: 22px;
  margin-right: 100px;
  border: 0;
  font-family: Yeseva One, sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  bottom: 0px;
  left: 31px;
}

.price_card--button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card_description {
  position: absolute;
  width: 330px;
  height: 286px;
  background-color: #ffffff;
  bottom: 20px;
  left: 31px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card_description--header {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin: 25px 31px 13px 31px;
}

.card_description--list {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  margin: 0px 46px;
  color: #959595;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 142px;
}

.features {
  position: relative;
  background: url(assets/bgfeatures.png) no-repeat;
  width: 793px;
  height: 743px;
}

.features_list {
  display: block;
  list-style: none;
}

.features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-family: FuturaMediumC, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  text-decoration: none;
}

.features_item:hover {
  cursor: pointer;
}

.features_item:hover .features_item--number {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 15px solid #E3B873;
}

.features_item--number {
  background-color: #E3B873;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-family: Yeseva One, sans-serif;
  font-size: 18px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  border: 15px solid #ffffff;
}

.features_item--text {
  width: 85%;
}

.features_item--text-two {
  width: 60%;
}

.features_item--text-three {
  width: 60%;
}

.features_item--text-last {
  width: 75%;
}

.features_item:first-child {
  margin: 103px 0px 0px 344px;
  width: 440px;
}

.features_item:nth-child(2) {
  margin: 212px 0px 0px 418px;
  width: 250px;
}

.features_item:nth-child(3) {
  margin: 375px 0px 0px 441px;
  width: 250px;
}

.features_item:last-child {
  margin: 536px 0px 0px 376px;
  width: 300px;
}

.c_form_container {
  background-color: #000000;
  color: #ffffff;
  background: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 506px;
  height: 506px;
  margin: 24px 100px 43px 0px;
}

.c_form {
  width: 408px;
  margin: 0 auto;
}

.c_form--title {
  font-family: FuturaDemiC, sans-serif;
  margin: 26px auto 20px auto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 290px;
  color: #ffffff;
}

.c_form--label {
  display: block;
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.5);
}

.c_form--input {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  width: 408px;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.c_form--input::-webkit-input-placeholder {
  color: #ffffff;
}

.c_form--input:-ms-input-placeholder {
  color: #ffffff;
}

.c_form--input::-ms-input-placeholder {
  color: #ffffff;
}

.c_form--input::placeholder {
  color: #ffffff;
}

.c_form--input:focus::-webkit-input-placeholder {
  color: transparent;
}

.c_form--input:focus:-moz-placeholder {
  color: transparent;
}

.c_form--input:focus::-moz-placeholder {
  color: transparent;
}

.c_form--input:focus:-ms-input-placeholder {
  color: transparent;
}

.c_form--button {
  width: 213px;
  height: 51px;
  margin-top: 38px;
  margin-bottom: 13px;
  background-color: #E3B873;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  float: right;
}

.c_form--checkbox {
  font-family: FuturaBookC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 15px;
}

.discont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E3B873;
  bottom: 15px;
  right: 257px;
  font-family: FuturaDemiC, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.discont--icon {
  background: url(assets/discon_icon.png) no-repeat;
  background-position: center;
  width: 72px;
  height: 72px;
  background-color: #E3B873;
  border-radius: 50%;
}

.discont--text {
  width: 225px;
  margin-left: 20px;
}

.galery {
  display: block;
  position: relative;
  background-color: #000000;
  background: url(assets/fon-galery.jpg) no-repeat;
  background-position: 0px 111px;
  color: #ffffff;
  width: 100%;
  margin-top: 112px;
}

.galery_container {
  display: block;
  width: 25%;
  height: 740px;
  padding-left: 99px;
  padding-top: 247px;
}

.galery_container--title {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  width: 280px;
}

.galery_container--list {
  list-style: none;
  margin-top: 38px;
}

.galery_container--list-link {
  display: block;
  margin-bottom: 15px;
  color: #ffffff;
  text-decoration: none;
  font-family: Proxima Nova, sans-serif;
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  cursor: pointer;
}

.galery_container--list-active {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
  color: #E3B873;
  text-decoration: none;
  font-family: Proxima Nova, sans-serif;
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  border-bottom: 1px solid #E3B873;
}

.galery_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 1020px;
  top: 0px;
  right: 7%;
}

.photo_column_left {
  margin-top: 71px;
}

.photo_column_left--photo1 {
  margin-bottom: 35px;
}

.photo_column_right {
  margin-left: 43px;
}

.photo_column_right--photo1 {
  margin-bottom: 31px;
}

.design_project {
  margin-top: 142px;
}

.design_project--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.design_icon {
  background: url(assets/design-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.steps_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

.steps_description {
  width: 40%;
  height: 600px;
  background: gray;
}

.steps {
  width: 60%;
  height: 600px;
  background: gray;
}

.steps_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  list-style: none;
}

.steps_navigation--links-active {
  text-decoration: underline;
}

.steps_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 345px;
  border: 1px solid black;
}

.steps_container--item {
  margin: 5px;
  width: 200px;
  border: 1px solid black;
}

.steps_container--item-hide {
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.steps_subcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team--heading {
  text-align: center;
}

.team--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.team_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.team_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.team_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;
}

.team_card_description--exp {
  background-color: #E3B873;
  color: #ffffff;
}

.clients--heading {
  text-align: center;
}

.clients--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.clients_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.clients_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.clients_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;
}

.clients_card_description--exp {
  background-color: #E3B873;
  color: #ffffff;
}

.clients_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E3B873;
}

.contacts_form_footer_wrapper {
  margin: auto;
  width: 50%;
  height: 400px;
  background-color: #000000;
}

.contacts_form_footer {
  width: 70%;
  margin: auto;
  color: #ffffff;
}

.contacts_form_footer--name_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  text-align: center;
}

.map {
  width: 500px;
  height: 400px;
}

.footer {
  background-color: #000000;
  height: 50px;
  width: 100%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */