* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/ProximaNova-Regular.eot');
  src: url('assets/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/ProximaNova-Regular.woff2') format('woff2'),
    url('assets/ProximaNova-Regular.woff') format('woff'),
    url('assets/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('assets/FuturaBookC.eot');
  src: url('assets/FuturaBookC.eot?#iefix') format('embedded-opentype'),
    url('assets/FuturaBookC.woff2') format('woff2'),
    url('assets/FuturaBookC.woff') format('woff'),
    url('assets/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('assets/FuturaDemiC.eot');
  src: url('assets/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('assets/FuturaDemiC.woff2') format('woff2'),
    url('assets/FuturaDemiC.woff') format('woff'),
    url('assets/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('assets/FuturaMediumC.eot');
  src: url('assets/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('assets/FuturaMediumC.woff2') format('woff2'),
    url('assets/FuturaMediumC.woff') format('woff'),
    url('assets/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('assets/YesevaOne.eot');
  src: url('assets/YesevaOne.eot?#iefix') format('embedded-opentype'),
    url('assets/YesevaOne.woff2') format('woff2'),
    url('assets/YesevaOne.woff') format('woff'),
    url('assets/YesevaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

// Fonts
$font-logo: FuturaDemiC,
sans-serif;
$font-navigation-links: FuturaBookC,
sans-serif;
$font-header: Yeseva One,
sans-serif;
$font-features: FuturaMediumC,
sans-serif;
$font-galery: Proxima Nova,
sans-serif;

// Colors
$primary-color: #000000;
$second-color: #ffffff;
$second-color2: rgba(255, 255, 255, 0.3);
$third-color:#E3B873;
$button-color: $third-color;

// Headings

.subtitle_white,
.subtitle_black {
  font-family: $font-header;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: $second-color;
  text-transform: uppercase;
}

.subtitle_black {
  color: $primary-color
}

// Icons

.subtitle_icon {
  position: relative;
  margin: 15px auto 30px auto;
  width: 200px;
  height: 29px;

  &:before {
    display: block;
    position: absolute;
    content: "";
    font-size: 2px;
    background-color: $third-color;
    width: 30px;
    height: 1px;
    top: 14px;
    right: 128px;
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    font-size: 2px;
    background-color: $third-color;
    width: 30px;
    height: 1px;
    top: 14px;
    left: 125px;
  }

}

// Header

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: $primary-color;
  width: 100%;
  height: 800px;
}

.header_social {
  width: 6%;


  &--text {
    position: relative;
    top: 44%;
    transform: rotate(90deg);

    &-link {
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font-logo;
      color: $third-color;
      font-size: 14px;
    }

    &:after {
      display: block;
      position: absolute;
      content: "";
      font-size: 2px;
      background-color: $third-color;
      width: 50px;
      height: 1px;
      top: 9px;
      left: 90px;
    }
  }


}

.header_wrapper {
  width: 94%;
}

.header_banner {
  height: 700px;
  background: red;
  background: url(assets/banner.jpg);

  &--main_heding {

    position: relative;
    top: 50%;
    font-family: $font-header;
    font-size: 40px;
    font-weight: normal;
    line-height: 132.8%;
    text-transform: uppercase;
    color: $second-color;
    width: 550px;

    &-orange {
      color: $third-color;
    }
  }

  &--main_description {
    font-family: $font-navigation-links;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    width: 450px;
    color: $second-color;
    margin-top: 20px;
    margin-bottom: 45px;
  }

  &--cta {
    width: 207px;
    height: 51px;
    background-color: $button-color;
    border: 0;
    font-family: $font-logo;
    font-size: 13px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    background: $third-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;

    &:hover {
      background-color: transparent;
      border: 1px solid $second-color;
    }
  }

  &--cta2 {
    width: 207px;
    height: 51px;
    border: 1px solid $second-color;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: $font-logo;
    font-size: 13px;
    text-transform: uppercase;
    color: $second-color;
    background: none;
    margin-left: 20px;
    cursor: pointer;
  }
}

.banner_text {
  position: relative;
  top: 27%;
  left: 4%;
}

.scroll_down {
  display: flex;
  position: absolute;
  width: 247px;
  height: 97px;
  bottom: 0px;
  background-color: $primary-color;
  font-family: $font-header;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: $second-color;

  & p {
    padding-right: 10px;
  }
}


// Navigation

.navigation {
  display: flex;
  background: #000000;
  height: 83px;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  color: $second-color;
  font-size: 14px;

  &--logo h1 {
    line-height: normal;
    margin: 0;
    font-size: 14px;
  }

  &--logo a {
    font-family: $font-logo;
    color: $third-color;
    text-transform: uppercase;
    text-decoration: none;
    color: $third-color;
    margin-right: 40px;
  }

  &--links a {
    color: $second-color;
    font-family: $font-navigation-links;
    line-height: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  &--telefon a {
    color: $third-color;
    font-family: $font-logo;
    font-size: 14px;
    text-transform: uppercase;
  }

  &--button {
    width: 161px;
    height: 37px;
    background-color: $button-color;
    margin-right: 100px;
    border: 0;
    font-family: $font-logo;
    font-size: 13px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: $primary-color;
      border: 1px solid $second-color;
    }
  }
}

// Slider section

.slider_wrapper {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  background: #000000;
}

.slider_description_wrapper {
  width: 40%;
  height: 600px;
  background: $primary-color;
}

.slider_description {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 0 auto;

  &--heading {
    font-family: $font-header;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $third-color;
    width: 100px;
    margin: 38px 0px 20px 0px;

    &:after {
      display: block;
      position: absolute;
      content: "";
      font-size: 2px;
      background-color: $third-color;
      width: 91px;
      height: 1px;
      top: 56px;
      left: 155px;
    }
  }

  &--text {
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: $second-color;
    margin-bottom: 20px;
    width: 415px;
  }

  &--subcaption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    & li {
      margin-top: 30px;
      width: 200px;
    }

    &-header {
      font-family: $font-header;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: $third-color;
    }

    &-text {
      font-family: $font-navigation-links;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: $second-color;
    }

  }

  &--navigation {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &-arrow_left {
      width: 42px;
      height: 14px;
      margin-top: 4px;
    }

    &-activ_point {
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $second-color;
    }

    &-point {
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $second-color2;
    }

    &-arrow_right {
      width: 42px;
      height: 14px;
      transform: rotate(180deg);
      margin-top: 4px;
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 600px;

  &--next {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: $third-color;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 1px $third-color;
    box-shadow: 0 0 5px 1px $third-color;
    top: 42%;
    right: 50px;

    &:hover {
      box-shadow: none;
    }

    &-arrow {
      position: absolute;
      width: 11px;
      height: 19px;
      left: 43%;
      top: 35%;
    }
  }
}

.slider_navigation {
  display: flex;
  width: 100%;
  height: 20px;
  list-style: none;
  margin-bottom: 20px;

  &--links {
    font-family: $font-header;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 60px;

    &-active {
      font-family: $font-header;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      border-bottom: 1px solid $third-color;
      margin-right: 60px;

      & a {
        color: $third-color;
        text-decoration: none;
      }
    }

    & a {
      color: $second-color2;
      text-decoration: none;
    }
  }
}

.slider_container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 482px;

  &--item {
    margin: 5px;
    width: 689px;
    height: 482px;
    background: url(assets/slider_img1.jpg) no-repeat;

    &-hide {
      width: 689px;
      height: 482px;
      margin: 5px;
      background: url(assets/slider_img2.jpg) no-repeat;
      background-position: top right 130px;
    }
  }
}

.slider_subcaption {
  display: flex;
}

// Video wrapper section

.video_wrapper {
  width: 100%;
  background: linear-gradient(to bottom, $primary-color 50%, $second-color 50%);
}

.video_icon {
  background: url(assets/video_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.video_container {
  position: relative;
  width: 57%;
  background: gray;
  margin: 0 auto;
  border: 1px solid black;

  &:after {
    display: block;
    position: absolute;
    content: "";
    font-size: 2px;
    background-color: $third-color;
    width: 30px;
    height: 1px;
    bottom: -32px;
    left: 50%;
  }

  &--play {
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: $third-color;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 1px $third-color;
    box-shadow: 0 0 5px 1px $third-color;
    top: 42%;
    left: 45%;

    &:hover {
      box-shadow: none;
    }

    &-arrow {
      position: absolute;
      width: 21px;
      height: 26px;
      left: 42%;
      top: 36%;
    }
  }

}

.video {
  width: 100%;
  height: 100%;
}

.video_description {
  margin: 50px;
  width: 52%;
  margin: 50px auto;
  text-align: center;
  font-family: $font-navigation-links;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

// Section first form

.form_submit {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
}

.form_submit_block {
  display: block;
  text-align: left;
  width: 235px;
  color: rgba(54, 54, 54, 0.5);

  &--label {
    display: block;
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }

  &--input {
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    height: 30px;
    color: #363636;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  }

  &--input::placeholder {
    color: #363636;
  }

  &--input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &--input:focus:-moz-placeholder {
    color: transparent;
  }

  &--input:focus::-moz-placeholder {
    color: transparent;
  }

  &--input:focus:-ms-input-placeholder {
    color: transparent;
  }

  &--button {
    width: 200px;
    height: 51px;
    background-color: $button-color;
    border: 0;
    font-family: $font-logo;
    font-size: 15px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  }
}

// Checkbox style
.form_submit_checkbox {
  margin: 0 auto;
  width: 30%;
  color: #181818;
}

.control {
  font-family: $font-navigation-links;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;

}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #cccccc;
}

.control input:checked~.control_indicator {
  background: #e3b873;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: #e3b873;
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #7b7b7b;
}

// Price repair section

.price_container {
  position: relative;
  margin-top: 140px;
}

.repair_icon {
  background: url(assets/repair_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.price_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  align-items: center;
  top: 30px;
}

.price_card {
  position: relative;
  background: url(assets/product1.jpg) no-repeat;
  margin: 10px;
  width: 392px;
  height: 608px;

  &:nth-child(2) {
    background: url(assets/product2.jpg) no-repeat;
  }

  &:last-child {
    background: url(assets/product3.jpg) no-repeat;
  }

  &--button {
    position: absolute;
    width: 228px;
    height: 54px;
    background-color: $button-color;
    margin-top: 22px;
    margin-right: 100px;
    border: 0;
    font-family: $font-header;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    bottom: 0px;
    left: 31px;

    &:hover {
      box-shadow: none;
    }
  }
}

.card_description {
  position: absolute;
  width: 330px;
  height: 286px;
  background-color: #ffffff;
  bottom: 20px;
  left: 31px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);


  &--header {

    font-family: $font-header;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 25px 31px 13px 31px;
  }

  &--list {
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin: 0px 46px;
    color: #959595;
  }
}

// Contact form section
.contact_form {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 142px;
}

.features {
  position: relative;
  background: url(assets/bgfeatures.png) no-repeat;
  width: 793px;
  height: 743px;
}

.features_list {
  display: block;
  list-style: none;
}

.features_item {
  display: flex;
  align-items: center;
  position: absolute;
  font-family: $font-features;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:hover .features_item--number {
    transition: 0.6s;
    border: 15px solid $third-color;
  }

  &--number {
    background-color: $third-color;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-family: $font-header;
    font-size: 18px;
    line-height: 41px;
    text-align: center;
    color: $second-color;
    border: 15px solid $second-color;
  }

  &--text {
    width: 85%;

    &-two {
      width: 60%;
    }

    &-three {
      width: 60%;
    }

    &-last {
      width: 75%;
    }
  }

  &:first-child {
    margin: 103px 0px 0px 344px;
    width: 440px;
  }

  &:nth-child(2) {
    margin: 212px 0px 0px 418px;
    width: 250px;
  }

  &:nth-child(3) {
    margin: 375px 0px 0px 441px;
    width: 250px;
  }

  &:last-child {
    margin: 536px 0px 0px 376px;
    width: 300px;
  }
}



.c_form_container {
  background-color: #000000;
  color: $second-color;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 506px;
  height: 506px;
  margin: 24px 100px 43px 0px;
}

.c_form {
  width: 408px;
  margin: 0 auto;

  &--title {
    font-family: $font-logo;
    margin: 26px auto 20px auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 290px;
    color: $second-color;
  }

  &--label {
    display: block;
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.5);
  }

  &--input {
    font-family: $font-navigation-links;
    font-style: normal;
    width: 408px;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: $second-color;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  }

  &--input::placeholder {
    color: $second-color;
  }

  &--input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &--input:focus:-moz-placeholder {
    color: transparent;
  }

  &--input:focus::-moz-placeholder {
    color: transparent;
  }

  &--input:focus:-ms-input-placeholder {
    color: transparent;
  }

  &--button {
    width: 213px;
    height: 51px;
    margin-top: 38px;
    margin-bottom: 13px;
    background-color: $button-color;
    border: 0;
    font-family: $font-logo;
    font-size: 13px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    float: right;
  }

  &--checkbox {
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $second-color;
    margin-top: 15px;
  }
}

.discont {
  display: flex;
  position: absolute;
  align-items: center;
  color: $third-color;
  bottom: 15px;
  right: 257px;
  font-family: $font-logo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

  &--icon {
    background: url(assets/discon_icon.png) no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
    background-color: $third-color;
    border-radius: 50%;
  }

  &--text {
    width: 225px;
    margin-left: 20px;
  }
}


// Galery section

.galery {
  display: block;
  position: relative;
  background-color: #000000;
  background: url(assets/fon-galery.jpg) no-repeat;
  background-position: 0px 111px;
  color: #ffffff;
  width: 100%;
  margin-top: 112px;
}

.galery_container {
  display: block;
  width: 25%;
  height: 740px;
  padding-left: 99px;
  padding-top: 247px;

  &--title {
    font-family: $font-header;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $third-color;
    width: 280px;
  }

  &--list {
    list-style: none;
    margin-top: 38px;

    &-link {
      display: block;
      margin-bottom: 15px;
      color: $second-color;
      text-decoration: none;
      font-family: $font-galery;
      font-family: Proxima Nova;
      font-size: 20px;
      line-height: 34px;
      cursor: pointer;
    }

    &-active {
      display: inline-block;
      cursor: pointer;
      margin-bottom: 15px;
      color: $third-color;
      text-decoration: none;
      font-family: $font-galery;
      font-family: Proxima Nova;
      font-size: 20px;
      line-height: 34px;
      border-bottom: 1px solid $third-color;
    }
  }
}

.galery_photo {
  display: flex;
  position: absolute;
  height: 1020px;
  top: 0px;
  right: 7%;
}

.photo_column_left {
  margin-top: 71px;


  &--photo1 {
    margin-bottom: 35px;
  }

  &--photo2 {}
}

.photo_column_right {

  margin-left: 43px;


  &--photo1 {
    margin-bottom: 31px;
  }

  &--photo2 {}

}


// Price design project section

.design_project {
  margin-top: 142px;
     height: 950px;
     background: linear-gradient(to top, #000000 50%, #ffffff 50%);

  &--description {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: $font-navigation-links;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    width: 665px;
  }
}

.design_project> 
.price_wrapper>
.price_card:nth-child(1)> 
.card_description {
  height: 215px;
  bottom:91px;
}

.design_project> 
.price_wrapper>
.price_card:nth-child(3)> 
.card_description {
  height: 415px;
  bottom:-110px;
}

.purchase {
    position: absolute;
    width: 228px;
    height: 54px;
    background-color: $button-color;
    margin-top: 22px;
    margin-right: 100px;
    border: 0;
    font-family: $font-header;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $second-color;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    bottom: -20px;
    left: 0px;

    &:hover {
      box-shadow: none;
    }
}


.design_icon {
  background: url(assets/design-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}


// Steps to goal section

.steps_wrapper {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  background: #000000;
}

.steps_description {
  width: 40%;
  height: 600px;
  background: gray;
}

.steps {
  width: 60%;
  height: 600px;
  background: gray;
}

.steps_navigation {
  display: flex;
  width: 100%;
  height: 40px;
  list-style: none;

  &--links {
    &-active {
      text-decoration: underline;
    }
  }
}

.steps_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 345px;
  border: 1px solid black;

  &--item {
    margin: 5px;
    width: 200px;
    border: 1px solid black;

    &-hide {
      width: 100px;
      border: 1px solid black;
      margin: 5px;
    }
  }

}

.steps_subcaption {
  display: flex;
}

// Team section

.team {
  &--heading {
    text-align: center;
  }

  &--description {
    text-align: center;
    width: 60%;
    margin: auto;
  }

}

.team_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 400px;
  align-items: center;
  top: 30px;
}

.team_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.team_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;

  &--exp {
    background-color: $third-color;
    color: #ffffff;
  }
}



// Cliets section

.clients {
  &--heading {
    text-align: center;
  }

  &--description {
    text-align: center;
    width: 60%;
    margin: auto;
  }

}

.clients_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 400px;
  align-items: center;
  top: 30px;
}

.clients_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.clients_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;

  &--exp {
    background-color: #E3B873;
    color: #ffffff;
  }
}

.clients_project {
  display: flex;
  background-color: #E3B873;
}

//Contacts sections
.contacts_form_footer_wrapper {
  margin: auto;
  width: 50%;
  height: 400px;
  background-color: #000000;
}

.contacts_form_footer {
  width: 70%;
  margin: auto;
  color: #ffffff;

  &--name_phone {
    display: flex;
  }
}

.contacts {
  text-align: center;
}

.map {
  width: 500px;
  height: 400px;
}

// Footer

.footer {
  background-color: #000000;
  height: 50px;
  width: 100%;
  margin: auto;
}