* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("assets/ProximaNova-Regular.eot");
  src: url("assets/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("assets/ProximaNova-Regular.woff2") format("woff2"), url("assets/ProximaNova-Regular.woff") format("woff"), url("assets/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("assets/FuturaBookC.eot");
  src: url("assets/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaBookC.woff2") format("woff2"), url("assets/FuturaBookC.woff") format("woff"), url("assets/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url("assets/FuturaDemiC.eot");
  src: url("assets/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaDemiC.woff2") format("woff2"), url("assets/FuturaDemiC.woff") format("woff"), url("assets/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url("assets/FuturaMediumC.eot");
  src: url("assets/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("assets/FuturaMediumC.woff2") format("woff2"), url("assets/FuturaMediumC.woff") format("woff"), url("assets/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url("assets/YesevaOne.eot");
  src: url("assets/YesevaOne.eot?#iefix") format("embedded-opentype"), url("assets/YesevaOne.woff2") format("woff2"), url("assets/YesevaOne.woff") format("woff"), url("assets/YesevaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  width: 100%;
  height: 800px;
}

.header_social {
  width: 6%;
}

.header_wrapper {
  width: 94%;
}

.header_banner {
  height: 700px;
  background: red;
  background: url(assets/banner.jpg);
}

.header_banner--main_heding {
  position: relative;
  top: 50%;
  font-family: Yeseva One, sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 132.8%;
  text-transform: uppercase;
  color: #ffffff;
  width: 550px;
}

.header_banner--main_heding-orange {
  color: #E3B873;
}

.header_banner--main_description {
  font-family: FuturaBookC, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  width: 450px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 45px;
}

.header_banner--cta {
  width: 207px;
  height: 51px;
  background-color: #E3B873;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

.header_banner--cta2 {
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  margin-left: 20px;
  cursor: pointer;
}

.banner_text {
  position: relative;
  top: 27%;
  left: 4%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  height: 83px;
  margin: auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
}

.navigation_menu--logo a {
  font-family: FuturaDemiC, sans-serif;
  color: #E3B873;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B873;
  margin-right: 40px;
}

.navigation_menu--links a {
  color: #ffffff;
  font-family: FuturaBookC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.navigation_menu--telefon a {
  color: #E3B873;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.navigation_menu--button {
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  margin-right: 100px;
  border: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
}

.slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

.slider_description {
  width: 40%;
  height: 600px;
  background: gray;
}

.slider {
  width: 60%;
  height: 600px;
  background: gray;
}

.slider_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  list-style: none;
}

.slider_navigation--links-active {
  text-decoration: underline;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 345px;
  border: 1px solid black;
}

.slider_container--item {
  margin: 5px;
  width: 200px;
  border: 1px solid black;
}

.slider_container--item-hide {
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.slider_subcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_video {
  position: relative;
  top: -50px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.video_wrapper {
  height: 700px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid black;
}

.video {
  width: 70%;
  height: 400px;
  background: gray;
  margin: 0 auto;
  border: 1px solid black;
}

.video_description {
  margin: 50px;
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.form_submit {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.checkbox {
  text-align: center;
}

.hedding_price {
  text-align: center;
}

.price_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.price_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 725px;
  background-color: gray;
  margin-top: 20px;
}

.features_list {
  display: block;
  list-style: none;
}

.features_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features_list--number {
  display: block;
  background-color: #E3B873;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.features_list--text {
  display: block;
}

.c_form {
  background-color: #000000;
  color: #ffffff;
}

.c_form--discont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: #e3b873;
}

.c_form--discont-icon {
  width: 30px;
  height: 30px;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  color: #ffffff;
}

.galery_navigation {
  width: 50%;
  height: 500px;
  border: 1px solid #ffffff;
}

.galery_navigation--list {
  list-style: none;
}

.galery_navigation--list-hover {
  color: #e3b873;
  text-decoration: underline;
}

.galery_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery_photo_column {
  width: 50%;
  height: 500px;
}

.galery_photo_column--img {
  width: 50px;
  height: 100px;
}

.design_project--heading {
  text-align: center;
}

.design_project--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.steps_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

.steps_description {
  width: 40%;
  height: 600px;
  background: gray;
}

.steps {
  width: 60%;
  height: 600px;
  background: gray;
}

.steps_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  list-style: none;
}

.steps_navigation--links-active {
  text-decoration: underline;
}

.steps_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 345px;
  border: 1px solid black;
}

.steps_container--item {
  margin: 5px;
  width: 200px;
  border: 1px solid black;
}

.steps_container--item-hide {
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.steps_subcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team--heading {
  text-align: center;
}

.team--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.team_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.team_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.team_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;
}

.team_card_description--exp {
  background-color: #E3B873;
  color: #ffffff;
}

.clients--heading {
  text-align: center;
}

.clients--description {
  text-align: center;
  width: 60%;
  margin: auto;
}

.clients_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
}

.clients_card {
  position: relative;
  margin: 10px;
  width: 20%;
  height: 300px;
  background-color: gray;
}

.clients_card_description {
  position: absolute;
  width: 95%;
  height: 150px;
  background-color: #ffffff;
  bottom: 20px;
}

.clients_card_description--exp {
  background-color: #E3B873;
  color: #ffffff;
}

.clients_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E3B873;
}

.contacts_form_footer_wrapper {
  margin: auto;
  width: 50%;
  height: 400px;
  background-color: #000000;
}

.contacts_form_footer {
  width: 70%;
  margin: auto;
  color: #ffffff;
}

.contacts_form_footer--name_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  text-align: center;
}

.map {
  width: 500px;
  height: 400px;
}

.footer {
  background-color: #000000;
  height: 50px;
  width: 100%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */